<footer>
  <div class="ui center aligned container ">
  <p class="MuiTypography-root MuiTypography-body2 MuiTypography-colorTextSecondary">
      Made with ❤️ by Bikram Subedi
    </p>
  </div>
</footer>
