<div class="ui fixed inverted large secondary menu" style="background-color: #4a69bb;">
  <div class="ui container">
    <div class="header item" id="top-nav">
      <a class="<%= current_page?(root_path) ? "active" : '' %> item" href="<%= root_path %>">
                <h>Home</h>
      </a>
    </div>
<!--   -->
  </div>
</div>
